.message {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: end;
}

.nameAndText {
    background-color: #0059b3;
    border-radius: 15px 15px 0 15px;
    padding: 15px;
    color: white;
}

.name {
    font-size: 130%;
    font-weight: bold;
    margin-bottom: 5px;
}

.text {
    min-width: 100px;
    max-width: 550px;
    word-wrap: break-word;
    font-size: 110%;
}

.triangle {
    text-align: end;
    width: 0;
    height: 0;
    border-bottom: 20px solid #0059b3;
    border-right: 25px solid transparent;
}

.imageAndTime {
    text-align: center;
    margin-bottom: -20px;
}

.imageAndTime img {
    width: 60px;
    height: 60px;
}


.time {
    color: grey;
}