.input:focus {
    border: 1px solid grey;
}

.input {
    width: 250px;
    height: 30px;
    border-radius: 3px;
    padding-left: 3px;
}

.errorInput {
    outline: none;
    border: 1px solid red;
    border-radius: 3px;
}

.error {
    color: red;
}
