.button {
    width: 70px;
    height: 30px;
    border-radius: 5px;
}

.disabled {
    background-color: lightsteelblue;
    color: gray;
    border: none;
}

.secondary {
    color: #0066cc;
    border: 1px solid #0066cc;
}

.default {
    border: none;
    color: white;
    background-color: #0066cc;
}

.red {
    border: none;
    color: white;
    background-color: #cc0000;
}

.default:hover {
    background-color: #0059b3;
}

.red:hover {
    background-color: indianred;
}

.secondary:hover {
    background-color: #0066cc;
    color: white;
}

